*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    background-image: linear-gradient(45deg,red,blue);
    background-size: 400%;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: animation 5s infinite alternate;
}
@keyframes animation{
    0%{background-position: left;}
    100%{background-position: right;}
}

.box1{
    height: 150px;
    width: 150px;
    background-color: black;
    display: inline-block;
    float: left;
    color:rgb(119, 96, 96);
    font-size: 100px;
    text-align: center;
    transition: 0.2s;
   
}
.box2{
    height: 150px;
    width: 150px;
    background-color: rgb(239, 230, 230); 
    display: inline-block;
    float: left;
    color:rgb(119, 96, 96);
    font-size: 100px;
    text-align: center;
    transition: 0.2s;  
}
.clear{
    clear: both;
}
.contanier{
    margin-top: 2%;
    margin-left: 20%;
}
.box1:hover{
   transform: scale(0.8);
}
.box2:hover{
    transform: scale(0.8);
}